///////////COLOR/////////////
$base: #C3C53A;
$second: #3755AD;
*{
    overflow: hidden;
}

body{
    display: grid;
    background: $base;
    padding: 0;
    margin: 0;
}

#text-plate{
    justify-self: center;
    word-wrap: break-word;
    width: 80vw;
    height: 100vh;
    font-size: 150px;
    background: $second;
}


